[user]
	email = greenofer@gmail.com
	name = Ofer Bartal
[push]
	default = simple
[credential]
	helper = cache --timeout=525949
[color]
	ui = auto
	ui = auto
[diff]
	external = /home/ofer/opt/git_meld.py
